.app-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100vw !important;
}

.app-center > div > cal-inline > iframe {
  width: 100vw !important;
}